.header {
    /* position: fixed;
  top: 0;
  left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: white; */
    height: 60px;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    /* Adjust the z-index value as needed */
}

.header-left h1 {
    font-size: 24px;
    margin: 0;
}

.header-left img {
    width: 30px;
    height: 30px;
}

.header-left button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: Lora;
    font-weight: bold;
    cursor: pointer;
}

.header-middle button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: Lora;
    font-weight: bold;
    cursor: pointer;
}

.header-right img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}